@import './theme.less';

@background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0\
cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48Zm\
lsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9\
Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ2\
9sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRo\
IGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");

@theme-color: var(--theme-color);

@color-shadow-mask: var(--color-shadow-mask);

@color-background-main: var(--color-background-main);
@color-background-navbar: var(--color-background-navbar);
@color-background-sidebar: var(--color-background-sidebar);
@color-background-playerbar: var(--color-background-playerbar);

@color-text-default: var(--color-text-default);
@color-text-sub: var(--color-text-sub);
@color-text-reverse: var(--color-text-reverse);
@color-text-1: var(--color-text-1);

@color-block-1: var(--color-block-1);
@color-block-2: var(--color-block-2);
@color-block-3: var(--color-block-3);
@color-block-4: var(--color-block-4);
